        body {
            font-family: 'Poppins', sans-serif;
        }
        .oxanium-font {
            font-family: 'Oxanium', cursive;
        }
        .result.success {
            background-color: #e0ffe0;
            border-color: #00cc00;
        }

        .result.error {
            background-color: #ffe0e0;
            border-color: #ff0000;
        }
